<mat-toolbar color="primary">
  <mat-form-field class="searchBox">
    <input matInput type="text" name="search" [(ngModel)]="search" placeholder="Please Enter A Show">
  </mat-form-field>
  <button mat-button (click)="searchShows()">Search Shows</button>
</mat-toolbar>


<!-- If there is such a show base on the search, add all of the class's properties that are listed in the Show class-->
<mat-accordion *ngIf="shows">
  <mat-expansion-panel *ngFor="let show of shows">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show Name: {{show.name}}
      </mat-panel-title>

      <mat-panel-title *ngIf="show.premiered">
        Premiered On: {{show.premiered}}
      </mat-panel-title>

      <mat-panel-title>
        Show Status: {{show.status}}
      </mat-panel-title>

      <mat-panel-description>
        Website: {{show.website}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
       <span class="flex-container">
        <img *ngIf="show.image" src="{{show.image}}" alt="Show Image">
        <span [innerHTML]="show.summary"></span>
        </span>
      <span *ngIf="show.prevEp">previous episode: {{show.prevEp.name}}</span><br>
      <span *ngIf="show.nextEp">next episode: {{show.nextEp.name}}</span>

      <button mat-flat-button color="primary" (click)="searchSeasons(show)">Show Seasons</button>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
